@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --font: "Inter";
  --body-bg: #FBFBFC;
  --black: #000000;
  --dark: #333333;
  --dark-gray: #637381;
  --gray: #C4CDD5;
  --light: #EDEDEE;
  --white: #fff;
  --red: #FB4A4B;
  --green: #1ECFBA;
  --blue: #618DFF;
  --yellow: #FFDE6B;
}

/* mixins */
/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: normal;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 1em;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.d-gray {
  color: var(--dark-gray);
}

.gray {
  color: var(--gray);
}

/* Form elements */
input, textarea {
  background: var(--body-bg);
  border: 1px solid var(--gray);
  border-radius: 0.6em;
  padding: 0.5em 1em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--gray);
  font-weight: 300;
}
input::placeholder, textarea::placeholder {
  color: var(--gray);
  font-weight: 300;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.6em;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  background-image: url(imgs/chevron-down.svg);
  background-position: calc(100% - 0.5em) 50%;
  background-size: 1.25em;
  background-repeat: no-repeat;
  padding-right: 2em;
}

.btn, .btn-saves, .btn-comments, .btn-likes, .btn-white, .btn-border-blue, .btn-blue, .btn-green, .btn-red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5em 1em;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.6em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: background-color;
}
.btn-none {
  padding: 0px;
  border: none;
}
.btn-red {
  color: var(--white);
  background-color: var(--red);
}
.btn-red:hover, .btn-red:focus {
  color: var(--white);
  background-color: var(--red);
}
.btn-red:active {
  color: var(--white);
  background-color: var(--red);
}
.btn-green {
  color: var(--white);
  background-color: var(--green);
}
.btn-green:hover, .btn-green:focus {
  color: var(--white);
  background-color: var(--green);
}
.btn-green:active {
  color: var(--white);
  background-color: var(--green);
}
.btn-blue {
  color: var(--white);
  background-color: var(--blue);
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
  color: var(--white);
  background-color: var(--blue);
}
.btn-border-blue {
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);
}
.btn-border-blue:hover, .btn-border-blue:focus, .btn-border-blue:active, .btn-border-blue.active {
  color: var(--white);
  background-color: var(--blue);
}
.btn-white {
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
}
.btn-white:hover, .btn-white:focus {
  color: var(--black);
  background-color: var(--yellow);
}
.btn-white:active {
  color: var(--blackhite);
  background-color: var(--yellow);
}
.btn-likes {
  color: var(--dark-gray);
  padding: 0em;
  font-weight: 400;
  border-radius: 0em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.btn-likes svg {
  font-size: 1.5em;
}
.btn-likes span {
  font-size: 0.9em;
}
.btn-likes:hover, .btn-likes:focus, .btn-likes:active, .btn-likes.active {
  color: var(--red);
}
.btn-comments {
  color: var(--dark-gray);
  padding: 0em;
  font-weight: 400;
  border-radius: 0em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.btn-comments svg {
  font-size: 1.5em;
}
.btn-comments span {
  font-size: 0.9em;
}
.btn-comments:hover, .btn-comments:focus, .btn-comments:active, .btn-comments.active {
  color: var(--blue);
}
.btn-saves {
  color: var(--dark-gray);
  padding: 0em;
  font-weight: 400;
  border-radius: 0em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.btn-saves svg {
  font-size: 1.5em;
}
.btn-saves span {
  font-size: 0.9em;
}
.btn-saves:hover, .btn-saves:focus, .btn-saves:active, .btn-saves.active {
  color: var(--green);
}

.formSearch {
  flex: 1;
  position: relative;
}
.formSearch input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-left: 3em;
}
.formSearch button {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 2em;
  font-size: 1.5em;
  color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.box {
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}

.link-return {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.link-return svg {
  color: var(--gray);
  font-size: 1.5em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.link-return span {
  color: var(--dark-gray);
  margin-left: 0.25em;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.link-return:hover svg {
  color: var(--blue);
}
.link-return:hover span {
  color: var(--blue);
}

.dropdown-toggle {
  color: var(--gray);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.dropdown-toggle:hover {
  color: var(--dark-gray);
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-menu {
  border: none;
  border-radius: 1em;
  box-shadow: -5px 10px 30px 0px rgba(4, 6, 15, 0.1);
}
.dropdown-item {
  --bs-dropdown-link-hover-bg: var(--light);
  --bs-dropdown-link-active-bg: var(--green);
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--body-bg);
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 70px auto;
  grid-template-areas: "head head" "sidebar main";
  gap: 1em 1.875em;
  padding: 1em 0em;
}
.layout header {
  grid-area: head;
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.layout .sidebar {
  grid-area: sidebar;
}
.layout main {
  grid-area: main;
  overflow-y: auto;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

nav.sidebar ul {
  list-style: none;
  padding-left: 0px;
  background-color: #fff;
  padding: 0.5em 0em;
  border-radius: 1em;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
nav.sidebar ul li {
  padding: 0.75em 1.25em;
}
nav.sidebar ul hr {
  background-color: var(--light);
  opacity: 1;
  border: none;
  height: 1px;
  width: 100%;
  margin: 0.5em 0em;
}
nav.sidebar .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--dark-gray);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
nav.sidebar .link svg {
  font-size: 1.5em;
  margin-right: 0.33em;
  color: var(--gray);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
nav.sidebar .link:hover, nav.sidebar .link:focus, nav.sidebar .link:active, nav.sidebar .link.active {
  color: var(--blue);
}
nav.sidebar .link:hover svg, nav.sidebar .link:focus svg, nav.sidebar .link:active svg, nav.sidebar .link.active svg {
  color: var(--blue);
}
nav.sidebar .devs {
  font-size: 0.75em;
  font-weight: 500;
  color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
nav.sidebar .devs:hover {
  color: var(--red);
}
nav.sidebar .devs svg {
  font-size: 1.7em;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.user img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.6em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5em;
}

.posts-list {
  list-style: none;
  padding-left: 0px;
}
.posts-list > li:not(:first-child) {
  margin-top: 1.5em;
}

.post {
  background-color: #fff;
  padding: 0px;
  border-radius: 1em;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
.post-img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
.post ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.post ul li:not(:first-child) {
  margin-left: 2em;
}

.list {
  list-style: none;
  padding-left: 0px;
  background-color: #fff;
  padding: 0px;
  border-radius: 1em;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
.list li {
  padding: 1em 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.list li:not(:last-child) {
  border-bottom: 1px solid var(--light);
}
.list h6 {
  padding: 1em 1.25em;
}

.scroll-top {
  position: fixed;
  z-index: 100;
  bottom: 2em;
  right: 2em;
  background-color: var(--white);
  color: var(--blue);
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
  border-radius: 2em;
  padding: 0.35em 0.5em 0.35em 1em;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 1;
  transform: scale(1);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: color;
}
.scroll-top svg {
  font-size: 1.5em;
}
.scroll-top span {
  font-size: 0.9em;
  font-weight: 500;
}
.scroll-top:hover {
  color: var(--green);
}/*# sourceMappingURL=style.css.map */